// It's highly recommended to change the default colors
// to match your app's branding.

// src/css/quasar.variables.scss

$primary   : #0080ff;
$secondary : #1096de;
$accent    : #000000;

$dark      : #000000;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
